p {
    font-family: Roboto, Arial;
    margin: 0 0 0 10px;
}

body {
    margin: 0;
    padding-top: 81px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: white;
    font-family: Roboto, Arial;
    border: none;
}


@media (max-width: 980px) {
    body {
        padding-top: 70px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: -40px;
        
    }
}

a {
    text-decoration: none;
    color: inherit;
}
