p {
    font-family: Roboto, Arial;
    margin: 0 0 0 10px;
}

body {
    margin: 0;
    padding-top: 81px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: white;
    font-family: Roboto, Arial;
    border: none;
}


@media (max-width: 768px) {
    body {
        padding-top: 55px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
