.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    background-color: rgb(255, 255, 255);
    border:none;
    z-index: 1;
}

.left-selection {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
    object-position: center;
}

.middle-selection {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 60px;
    margin-right: 35px;
    max-width: 600px;
}

.search-bar {
    display: flex;
    flex: 1;
    height: 36px;
    font-size: 16px;
    border: 1px solid rgb(189, 185, 185);
    padding-left: 10px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    position: relative;
    right: -68px;
}

.search-icon {
    height: 24px;
    
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
    z-index: 2;
}

.search-button {
    height: 40px;
    width: 70px;
    border: 1px solid rgb(189, 185, 185);
    background-color: rgb(247, 247, 247);
    margin-left: -1px;
    z-index: 2
}

.voice-search-button {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    background-color: rgb(250, 248, 248);
}

.voice-icon {
    height: 25px;
    padding-top: 4px;
    border-radius: 12px;
    object-fit: cover;
    object-position: bottom;
}

.right-selection {
    display: flex;
    align-items: center;
}
.upload-icon{
    height: 24px;
    margin-right: 24px;

}

 .notification-icon {
    height: 24px;
    margin-right: 17px;
}


.current-user-picture {
    height: 32px;
    width: 32px;
    margin-right: 28px;
    margin-top: 8px;
    border-radius: 18px;
    object-position: center;
    
}


@media (max-width: 980px) {
    .middle-selection {
        display: none;
       
    }

    .header {
        justify-content: space-between;
        padding: 16px 10px;
    }

    .hamburger-menu {
        display: none;
    }

    .youtube-logo {
        height: 40px;
        width: 150px;
       padding-left: 14px;
    }

    .right-selection {
        margin-right: -10px;
    }

    
    .current-user-picture {
        padding-right: 5px;
    }
    



}
