.thumbnail {
  width: 100%;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  width: 36px;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: -2px;
}

.video-author, .video-stats {
  display: block;
  font-size: 12px;
  color: rgb(98, 96, 96);
  margin-bottom: 4px;
  margin-left: -2px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}


@media (max-width: 750px) {
  .video-grid {
      grid-template-columns: 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

.video-time {
  background-color: rgb(0, 0, 0.9);
  color: white;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  bottom: 12px;
  border-radius: 2px;
  right: 6px;
  padding: 2px 4px;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
