.thumbnail {
  width: 100%;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  width: 36px;
}

.video-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: -2px;
}

.video-author, .video-stats {
  display: block;
  font-size: 20px;
  color: rgb(98, 96, 96);
  margin-bottom: 4px;
  margin-left: -2px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

<<<<<<< HEAD

@media (min-width: 400px) and (max-width: 980px) {
  .video-grid {
      grid-template-columns: 1fr ;
      
      
=======
@media (min-width: 400px) and (max-width: 980px) {
  .video-grid {
      grid-template-columns: 1fr ;
>>>>>>> origin/master
  }
  .video-info-grid {
    margin-top: 20px;
    padding-left: 14px;
  }
  
}

<<<<<<< HEAD


=======
>>>>>>> origin/master
@media (min-width: 981px) and (max-width: 1100px) {
  .video-grid {
      grid-template-columns: 1fr 1fr;
  }
<<<<<<< HEAD
 
  .thumbnail {
    border-radius: 10px;
  }
  .video-title {
    font-size: 15px;
    font-weight: 500;
  }
  .video-author, .video-stats {
    font-size: 12px;
  }
=======
  .thumbnail {
    border-radius: 10px;
  }
>>>>>>> origin/master
}

@media (min-width: 1101px)  {
  .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
  }
  .thumbnail {
    border-radius: 10px;
  }
<<<<<<< HEAD
  .video-title {
    font-size: 15px;
    font-weight: 500;
  }
  .video-author, .video-stats {
    font-size: 12px;
  }
=======
>>>>>>> origin/master
}

.video-time {
  background-color: rgb(0, 0, 0.9);
  color: white;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  bottom: 12px;
  border-radius: 2px;
  right: 6px;
  padding: 2px 4px;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
